<!DOCTYPE html>
<html lang="en" ng-app="boilerplateApp">
<head>
  <meta charset="UTF-8">
  <title>Boilerplate AngularJS / ES6</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/assets/css/libs/libs.css">
  <link rel="stylesheet" href="/public/assets/css/custom/compiled.css">
</head>
<body>
  <ng-view></ng-view>
  <script src="/public/assets/js/libs/libs.js"></script>
  <script src="/public/assets/js/custom/compiled.js"></script>
</body>
</html>